<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form class='new_message'>
  <input id='identified_user' type='hidden' value="<%= current_user.id %>" name='sender_id'>
  <label>Say something:</label><br>
  <input name='content' type="text" data-behavior="room_speaker">
</form>
